html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.6rem;
    height: 80%;
}

.nav-link{
    font-size: larger;
}

/* About */

#about_top_section{
    background-color: #2a3d4be7;
}

#name{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#job_title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#section_icon{
    margin-right: 15px;
    padding: 5px;
}

.flex_head:hover{
    margin-left: 10px;
}

.skill_icon{
    font-size: 24px;
    cursor: pointer;
    animation-duration: 500ms; 
}
.fa-python, .fa-terminal, .fa-cubes, .fa-project-diagram, .fa-yammer, .fa-cloud, .fa-aws, .fa-google, .fa-jenkins, .fa-database, .fa-git, .fa-window-maximize, .fa-linux{
    transition-duration: 0.8s;
    transition-property: transform;

}

.fa-python:hover, .fa-terminal:hover, .fa-cubes:hover, .fa-project-diagram:hover, .fa-yammer:hover, .fa-cloud:hover, .fa-aws:hover, .fa-google:hover, .fa-jenkins:hover, .fa-database:hover, .fa-git:hover, .fa-linux:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.fa-python:hover{
    color: #4B8BBE;
}

.fa-terminal:hover{
    color: black;
}

.fa-database:hover{
    color: rgb(151, 92, 151);
}

.fa-git:hover{
    color: #F1502F;
}

.fa-window-maximize:hover{
    color: #143f63;
}

.fa-linux:hover{
    color: rgb(243, 148, 32);
}

.fa-cubes:hover{
    color: rgb(148, 57, 125);
}

.fa-project-diagram:hover{
    color: rgb(238, 141, 63);
}

.fa-yammer:hover{
    color: rgb(126, 85, 85);
}

.fa-aws:hover{
    color: rgb(241, 153, 38);
}

.fa-google:hover{
    color: rgb(22, 35, 212);
}


.fa-cloud:hover{
    color: rgb(46, 83, 206);
}

.fa-jenkins:hover{
    color: rgb(202, 28, 28);
}

.typewriter h2 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .3s step-end 14;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 25% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(252, 255, 80) }
}

.about_p{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 60px;
    padding-top: 25px;
    margin-top: -10px;
}
.wordCarousel li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(112, 112, 112);
    font-weight: 700;
    padding: 0;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip4 { 
    animation: flip4 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
}

@keyframes flip4 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    25% { margin-top: -360px; }
    30% { margin-top: -270px; }
    50% { margin-top: -270px; }
    55% { margin-top: -180px; }
    75% { margin-top: -180px; }
    80% { margin-top: -90px; }
    99.99% { margin-top: -90px; }
    100% { margin-top: -360px; }
}

/* Experience */

#sec2{
    background-color: #566c7a;
}

.fa-briefcase{
    margin-right: 15px;
    margin-left: 8px;
    padding: 5px;
}

#experience_head{
    color: white;
}

.company_name{
    overflow: hidden;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fff;
    cursor: default;
    transition-duration: 1200ms;
}

.company_name:hover{
    color: rgb(196, 253, 255);
    font-size: 38px;
}

.company_name:before, .company_name:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}

.company_name:before{
    right: 0.2em;
    margin-left: -30%;
}

.company_name:after{
    left: 0.2em;
    margin-right: -30%;
}

#main_work_info, #work_details{
    padding-right: 40px;
}

#main_work_info li, #work_details li{
    color: #fff;
    list-style: none;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.fa-caret-down{
    cursor: pointer;
}

.fa-caret-down:hover{
    color: rgb(44, 44, 44);
}

#work_details {
    display: none;
}

/* Projects */

#sec3{
    background-color: #fff;
}

.fa-laptop-code{
    margin-right: 15px;
    padding: 5px;
}

.card{
    border-radius: 10px;
    box-shadow: 1px 1px 11px 1px rgb(151, 151, 151);
    margin: 12px 0 10px 0;
    transition: 1000ms;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 11px 5px rgba(15, 119, 145, 0.349);
}

.card-header{
    color: #fff;
    background-color: rgb(72, 102, 121);
}

.card-body{
    background-color: rgba(238, 238, 238, 0.8);
}

.btn {
    color: #fff;
    background-color:  rgb(72, 102, 121);
    margin-bottom: -10px;
    border-radius: 20px;
    font-weight: 620;
    transition: 500ms;
}

.btn:hover{
    color: #fff;
    background-color: rgb(67, 144, 192);
}

.technology_info span{
    text-decoration: underline;
    font-weight: 550;
}

/* Contact */

#sec4{
    background-color:#2a4b49;
}

#contact_head{
    color: #fff;
}

.fa-address-book{
    margin-right: 15px;
    padding: 5px;
}

form{ 
    max-width: 620px; 
    margin: 40px auto; 
}

.feedback-input{
    color:white;
    font-family: Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #fff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus{ 
    border: 2px solid #5a99c5e7; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

#honeypot{
    display: none;
}

.send_message{
    font-family: 'Courier New', Courier, monospace;;
    width: 100%;
    background:#5a99c5af;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.send_message:hover{
    background:#396788;
}

.icon_link{
    padding-bottom: 15px;
}

.icon_link a{
    color: white;
}

.fa-github:hover{
    color: black;
    transform: scale(1.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.678);
}

.fa-github, .fa-linkedin-in{
    transition: all .2s ease-in-out;
}

.fa-linkedin-in:hover{
    color: #2867B2;
    transform: scale(1.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.678);
}

#privacy{
    text-align: left;
    margin-left: 0.1em;
    margin-right: 0.3em;
    cursor: pointer;
    padding-left: 0.4em;
    transform: scale(1.5);
}

#privacy_label{
    color: #fff;
    text-align: left;
}

#dummyframe{
    display: none;
}

/* Footer */
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.1rem;
}

#footer_files a{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
    color: #fff;
}

#footer_files a:hover{
    color: #4B8BBE;
    text-decoration:none;
    cursor:pointer;
}

/* Other devices */
@media (min-width: 320px) and (max-width: 480px) {
    html{
        scroll-padding-top: 4.5rem;
    }

    #job_title{
        font-size: 1.8rem;
    }

    .fa-laptop-code, .fa-address-book, .fa-briefcase, #section_icon{
        margin-right: 0.2rem;
        font-size: 1.6rem;
    }    

    .flex_head:hover{
        margin-left: 0;
    }

    .typewriter h2 {
        animation: 
          typing 3.5s steps(80, end),
          blink-caret .3s step-end 14;
    }
    
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    #section_icon{ 
        padding-bottom: 0.5rem;
    }

    #section_head{
        font-size: 1.6rem;
    }

    .wordCarousel li {
        font-size: 0.875rem;
    }

    #footer_files{
        margin-top: 0.5rem;
    }

    #footer_files a, #copyright{
        font-size: 0.8rem;
    }
}

@media screen and ( min-width: 400px ) and ( min-height: 840px ) and ( max-height: 910px ){

    #section4{
        margin-top: 2.5rem;
    }

    #contact_head{
        margin-bottom: 1.5rem;
    }

    #email, #subject, #message{
        margin-bottom: 1.5rem;
    }

    #section2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #experience_head{
        margin-bottom: 1.5rem;
    }
}

@media screen and ( min-width: 600px ) and ( min-height: 911px ) and ( max-height: 1120px ){
    .nav-link{
        font-size: 1.5rem;
    }

    #section4{
        margin-top: 3.5rem;
    }

    #contact_head{
        margin-bottom: 2.5rem;
    }

    #email, #subject, #message{
        margin-bottom: 2.5rem;
    }

    textarea {
        height: 15rem;
    }      

    .fa-github, .fa-linkedin-in{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #section2{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    #experience_head{
        margin-bottom: 2rem;
    }
}

@media screen and ( min-width: 800px ) and ( min-height: 1120px ) and ( max-height: 1440px ){

    .nav-link{
        font-size: 2rem;
    }

    #section4{
        margin-top: 5.5rem;
    }

    #contact_head{
        margin-bottom: 7.5rem;
    }

    #email, #subject, #message, #privacy_label{
        margin-bottom: 2.5rem;
    }

    textarea {
        height: 18rem;
    }      

    .fa-github, .fa-linkedin-in{
        margin-bottom: 3.5rem;
        margin-top: 2.5rem;
    }

    #section2{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #experience_head{
        margin-bottom: 2.5rem;
    }
}