#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.6rem;
}

.nav-link{
    font-size: larger;
}

/* About */

#about_top_section{
    background-color: #2a3d4be7;
}

#name{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#job_title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#about_icon{
    margin-right: 15px;
    padding: 5px;
}

.flex_head:hover{
    margin-left: 10px;
}

.skill_icon{
    font-size: 24px;
    cursor: pointer;
    animation-duration: 500ms; 
}
.fa-python, .fa-hashtag, .fa-database, .fa-git, .fa-window-maximize, .fa-linux{
    transition-duration: 0.8s;
    transition-property: transform;

}

.fa-python:hover, .fa-hashtag:hover, .fa-database:hover, .fa-git:hover, .fa-window-maximize:hover, .fa-linux:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.fa-python:hover{
    color: #4B8BBE;
}

.fa-hashtag:hover{
    color: black;
}

.fa-database:hover{
    color: rgb(151, 92, 151);
}

.fa-git:hover{
    color: #F1502F;
}

.fa-window-maximize:hover{
    color: #143f63;
}

.fa-linux:hover{
    color: rgb(243, 148, 32);
}

.typewriter h2 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .3s step-end 14;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 25% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(252, 255, 80) }
}

@media only screen and (max-width : 767px) {
    .typewriter h2 {
        animation: 
          typing 3.5s steps(80, end),
          blink-caret .3s step-end 14;
    }
    
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
}

.about_p{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
}

.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 60px;
    padding-top: 25px;
    margin-top: -10px;
}
.wordCarousel li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(112, 112, 112);
    font-weight: 700;
    padding: 0;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

/* iPhone 6, 6s, 7 & 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
    #about_head{
        font-size: 24px;
        margin-top: 12px;
    }

    .wordCarousel div {
        margin-top: -16px;
    }

    .wordCarousel li {
        font-size: 14px;
    }
}

/* iPhone X/XS */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    #about_head{
        font-size: 24px;
        margin-top: 14px;
    }

    .wordCarousel div {
        margin-top: -14px;
    }

    .wordCarousel li {
        font-size: 14px;
    }
}

/* Galaxy S5 */
@media only screen 
    and (min-device-width: 360px) 
    and (max-device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3)    
    and (orientation : portrait) {

    #about_head{
        font-size: 24px;
        margin-top: 15px;
    }

    .wordCarousel div {
        margin-top: -15px;
    }

    .wordCarousel li {
        font-size: 14px;
    }
}

/* Galaxy S9 */
@media only screen 
    and (min-device-width: 360px) 
    and (orientation: portrait){ 

    #about_head{
        font-size: 24px;
        margin-top: 15px;
    }

    .wordCarousel div {
        margin-top: -15px;
    }

    .wordCarousel li {
        font-size: 14px;
    }
}

/* iPad */
@media only screen 
    and (min-device-width: 481px) 
    and (max-device-width: 1024px) 
    and (orientation:portrait) {
        
    #about_head{
        font-size: 36px;
        margin-top: 5px;
    }

    .wordCarousel div {
        margin-top: -12px;
    }

    .wordCarousel li {
        font-size: 22px;
    }
}

/* Experience */

#sec2{
    background-color: #566c7a;
}

.flex_head:hover{
    margin-left: 10px;
}

.fa-briefcase{
    margin-right: 15px;
    padding: 5px;
}

#experience_head{
    color: white;
}

/* Projects */

#sec3{
    background-color: #fff;
}

.fa-laptop-code{
    margin-right: 15px;
    padding: 5px;
}

/* Contact */

#sec4{
    background-color:#2a4b49e3;
}

#contact_head{
    color: #fff;
}

.fa-address-book{
    margin-right: 15px;
    padding: 5px;
}

.icon_link{
    padding-bottom: 15px;
}

.icon_link a{
    color: white;
}

.fa-envelope{
    color: #fff;
    cursor: pointer;
}

.fa-envelope:hover{
    color: #EA4335;
    transform: scale(1.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.678);
}

.fa-github:hover{
    color: black;
    transform: scale(1.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.678);
}

.fa-envelope, .fa-github, .fa-linkedin-in{
    transition: all .2s ease-in-out;
}

.fa-linkedin-in:hover{
    color: #2867B2;
    transform: scale(1.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.678);
}

/* Footer */
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: table;
}

#footer p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
